@font-face {
font-family: quicksand;
src: url(assets/font/Quicksand/Quicksand-VariableFont_wght.ttf);
}
@font-face {
font-family: bebas;
src: url(assets/font/Bebas_Neue/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: "poppins";
    src: url(assets/font/Poppins/Poppins-Regular.ttf);
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: quicksand;
}

body {
height: 100vh;
background: linear-gradient(135deg, #e8dccb, #f5efe6);
color: #2b1d0e;
}

.welcome {
text-align: center;
padding: 22px;
background: rgba(255,255,255,0.6);
backdrop-filter: blur(10px);
letter-spacing: 0.4rem;
font-weight: 600;
}

.grid-con {
display: grid;
grid-template-columns: 260px 1fr;
grid-template-rows: 90px 70px 1fr;
grid-template-areas:
"topbar topbar"
"aside nav"
"aside main";
height: calc(100vh - 90px);
}

.aside {
grid-area: aside;
padding: 25px;
background: rgba(255,255,255,0.55);
backdrop-filter: blur(12px);
border-right: 1px solid rgba(0,0,0,0.08);
overflow: hidden;
overflow-y: scroll;
}

.badge {
font-family: 'Times New Roman', Times, serif;
background: linear-gradient(135deg, #cfa66b, #9f6b3f);
color: white;
padding: 10px 18px;
border-radius: 12px;
width: fit-content;
letter-spacing: 2px;
margin-bottom: 1rem;
}
.aside h3{
    font-family: "poppins";
    margin-top: 20px;
}
.days {
list-style: none;
margin-top: 25px;
}

.days li {
padding: 10px 0;
opacity: 0.85;
transition: all 0.4s ease;
}
.days li a{
    text-decoration: none;
    color: #2b1d0e;;
}

.days li:hover {
transform: translateX(6px);
opacity: 1;
}

.topbar {
grid-area: topbar;
display: flex;
align-items: center;
justify-content: center;
gap: 18px;
padding: 20px;
background: rgba(255,255,255,0.65);
backdrop-filter: blur(14px);
box-shadow: 0 10px 200px rgba(0,0,0,0.12);
}

.topbar h1 {
font-family: bebas;
letter-spacing: 10px;
color: #8a5a2b;
}

.logo {
width: 45px;
height: 45px;
}

.st-area {
grid-area: nav;
background: rgba(255,255,255,0.6);
}

nav {
display: flex;
justify-content: center;
gap: 30px;
padding: 18px;
background: linear-gradient(135deg, #e1c699, #d6b48c);
}

nav a {
text-decoration: none;
color: #3a2614;
font-weight: 600;
transition: all 0.4s ease;
}

nav a:hover {
color: #ffffff;
text-shadow: 0 0 10px rgba(255,255,255,0.6);
}

.main-con {
flex-direction: column;
grid-area: main;
padding: 30px;
overflow-y: auto;
}

.cards {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
gap: 25px;
}

.card {
background: rgba(255,255,255,0.7);
backdrop-filter: blur(12px);
border-radius: 18px;
padding: 30px;
color: #2b1d0e;;
text-decoration: none;
text-align: center;
font-weight: 600;
box-shadow: 0 15px 30px rgba(0,0,0,0.15);
transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card:hover {
transform: translateY(-10px) scale(1.02);
box-shadow: 0 25px 50px rgba(0,0,0,0.25);
background: rgba(232, 230, 230, 0.463);

}

footer {
text-align: center;
padding: 15px;
background: rgba(255,255,255,0.7);
font-size: 0.9rem;
letter-spacing: 1px;
}


/* Legal rights awareness */
.content-box{
    margin-top: 20px;
    background:#ffffff;
    padding:30px;
    border-radius:14px;
    box-shadow:0 15px 35px rgba(0,0,0,0.08);
    max-width:100%;
    animation:fadeIn 0.6s ease-in-out;
}

.content-box h1{
    font-size:2rem;
    color: #8a5a2b;
    margin-bottom:20px;
    border-bottom:3px solid #e5e7eb;
    padding-bottom:10px;
}
.content-box p{
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
}
.content-box h2{
    margin-top:25px;
    font-size:1.3rem;
    color: #2b1d0e;
    position:relative;
    padding-left:10px;
}

.content-box ul{
    margin-top:12px;
    margin-left:20px;
    list-style:none;
}

.content-box ul li{
    margin-bottom:10px;
    padding-left:22px;
    position:relative;
    line-height:1.6;
    color:#334155;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(15px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
